<div class="component">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-align-center">
        <h2 class="component-title">Hmm Cookies!</h2>
        <h1>This website doesn't use cookies</h1>
        <p class="intro-text">
          Penzai is not using any kind of cookies and isn't tracking any kind of personal information. The authentication uses the
          local storage of your webbrowser. This is information is used for this purpose only. PENZAI doesn't track any user
          behavior on a personal level. It does track usage and user flows. This happens on a general level and isn't linked
          to an individual.</p>
        <p>If you have any questions or concerns about that, please do get in touch:</p>
        <div class="btn-group-individual justify-content-center">
          <button class="btn btn-primary" routerLink="/contact">Get in Touch</button>
        </div>
      </div>
    </div>
  </div>
</div>