<div class="site-hero">
  <div class="site-hero-content container">
    <div class="row">
      <h1 class="col-6">Try an innovative way to find the right talent!</h1>
    </div>
    <div class="row">
      <p class="col-6 intro-text">Find new talent by supporting their aspiration to learn and grow.</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="btn-group-individual justify-content-start">
          <div class="btn btn-primary" (click)="openRequestDemo()">
            Request a demo
          </div>
          <div class="btn btn-secondary" routerLink="/welcome">
            I want to develop new skills
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="component">
  <div class="container">
    <div class="row">
      <h1>This site is under construction</h1>
    </div>
  </div>
</div> -->