<div class="component first-component comp-bg-mid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-10 col-xl-8 text-align-center">
        <h2 class="component-title">About Us</h2>
        <h1>Supporting people to find and grow into roles that really fit to them.</h1>
        <p class="intro-text">PENZAI is in an early stage of changing the way of how people find new challenges. We believe that work must be about
          us as individuals and especially about our personal goals and aspirations. And while most organisations and job
          platforms still try to find and match people based on their past, we thought: "Isn't it much more natural to ask
          where do you want to go, instead of where have you been?".
        </p>
        <div class="btn-group-individual justify-content-center">
          <div class="btn btn-primary" (click)="openSignUp()">Join the public beta for free</div>
          <div class="btn btn-secondary" routerLink="/business">I represent an organisation</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="component comp-bg-mid-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h3>Our Mission</h3>
        <p>By understanding the current situation and future goals of our members, we provide them with the information and
          the support they need to grow into a role that suits them.</p>
        <h3>What we do</h3>
        <p>We assess the current situation of the user with a short questionnaire about his personality, preferred work environment,
          motivation and competencies.</p>
        <p>Based on this profile our algorithms are able to find profiles, roles and skills of people with similar a similar
          background. This helps our users to expand their horizons outside their current boundaries, to see what roles might
          fit them.
        </p>
        <p>Once they know where they want to start growing into, we provide them with information relevant to their goals. </p>
        <p>We track the activities and the success of our members. Based on this information we are able to match them with
          our industry partners who provide access to more learning opportunities and hands-on experience. </p>
      </div>
    </div>
  </div>
</div>
<hr>
<app-try-it></app-try-it>
<hr>