<div class="component">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 text-align-center">
        <h2 class="component-title">Welcome to Penzai</h2>
        <h1>Let's start!</h1>
        <p class="intro-text">Before you can start to grow, you need to plant the seed. This means you need to understand who you are and where
          you are at the moment. We will figure this out together in the next couple of steps. This will take around 20 minutes.</p>
        <div class="btn-group-individual justify-content-center">
          <button class="btn btn-primary" routerLink="/start/personality">Let's start ></button>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <p>
          In order to provide you the best possible experience and the best results, supporting your personal growth journey, we need
          you to go through the following on boarding process.
        </p>
        <h3>
          Why do I need to do this and what is happening with my data?
        </h3>
        <p> Penzai is an AI-Driven Platform which brings intelligence from mining millions of data points and billions of interactions
          across the internet to you. It helps to understand you and to match the best possible career development information
          with you. Our business model is not based on selling or using your data in a way you don‘t realise it. We will
          always ask you for permission if we see the need to share your information with any 3rd party. This is for instance
          the case if you sign up for courses or classes with partner organisations. The protection of your data and privacy
          is our second mission after supporting you over your career journey. Therefor we created the career vault to give
          you full control of who is accessing and using your data on our platform.</p>
      </div>
    </div>
  </div>
</div>