<div class="component first-component">
    <div class="container">
        <div class="row">
            <h2 class="component-title col-sm-12">Confirm email</h2>
            <h3 class="col-sm-12">Please confirm your email address</h3>
            <p class="col-sm-12">Your are almost ready to start. Please look for a confirmation email from PENZAI in your
                <strong>{{email}}</strong> inbox, and then click the confirmation link in that email to access the member area of
                PENZAI.io
            </p>
            <a class="col-sm-12" href>Click here to resend the confirmation email</a>
        </div>
    </div>
</div>