<div class="component-fluid comp-bg-mid">
  <div class="container-fluid">
    <div class="row">
      <div class="col-5">
        <h2 class="component-title">Persona Detail</h2>
        <h1>Meet Sam a social media specialist from London</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 video-container">
        <iframe src="https://player.vimeo.com/video/276019854" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="component-fluid comp-bg-mid-light">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2 class="component-title">Transcript</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h3>Who are you and what are you doing?</h3>
        <p>I am Sam I am 28 yearsold and I work for a big social media agency in London. We specialise in PR and Communications
          for loads of consumer clients.</p>
        <h3>How does your regular work day look like?</h3>
        <p>An average day in my life is getting up heading to the office. First thing in the morning, I am checking my emails,
          making sure I am prioritised for the day. And then it is usually a lot of meetings with my internal team and also...
          usually working on big strategy documents or meeting with production companies to make sure the content that we
          are producing aligns to the client brief.</p>
        <h3>What do you like about your job?</h3>
        <p>The thing that I am absolutly loving about my job is seeing a project from start to finish. Because we work with
          this content and the production process for so long, it is really satisfying seeing something from a piece of paper
          to actually going online. Another thing that is also really great is that when that piece of content gets live
          that you can physically see how many people consumed that. As opposed to a piece of press that ends in a newspaper.
          </p>
        <h3>What don't you like about it?</h3>
        <p>The thing that I disslike about my job is the lack of creativity at times. This is purely because our clients have
          a commercial goal. So sometimes that means your creativity and wacky ideas can't come to consideration. You have
          always to be mindful of the clients needs.</p>
        <h3>What are the core skills to do you job?</h3>
        <p>Some of the core skills that you need to do this job is the ability to mulittask because you are often work for two
          or three clients at the time, so the ability to stay on top is key. That leads nicly to the second core skill that
          you need, being organised. It is really really important that you are always on top of everything.</p>
        <h3>What would you recommend someone who wants to work in your field?</h3>
        <p>For anybody starting in this industry, I think it is really important that you really throw yourself in the deep
          end as much as possible. So whatever if it internships or getting as much hands-on experience as possible. As long
          as you are possitiv and you are showing willingness in all the areas that you are in. It is really the best way
          to get as much experience as possible to define what you are good at and what your core skills are </p>
      </div>
    </div>
  </div>
</div>