<footer class="site-footer">
  <div class="container">
    <div class="row">
      <app-penzai-logo class="col-md-6"></app-penzai-logo>
      <section class="footer-nav-section col-md-2">
        <div class="footer-nav-section-title">
          Company
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About us</a>
          </li>
        </ul>
      </section>
      <section class="footer-nav-section col-md-2">
        <div class="footer-nav-section-title">
          Product
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/how-it-works">How PENZAI works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/business">For Organisations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">PENZAI Vault</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Customer Stories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Pricing</a>
          </li>
        </ul>
      </section>
      <section class="footer-nav-section col-md-2">
        <div class="footer-nav-section-title">
          Resources
        </div>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link">Partners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">API</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
<div id="disclaimer" class="disclaimer">
  <div class="container">
    <div class="row">
      <ul class="nav justify-content-left">
        <li class="nav-item">
          <a class="nav-link" routerLink="/legal/privacy" routerLinkActive="nav-link-active">Privacy &amp; Terms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/legal/cookies" routerLinkActive="nav-link-active">Cookie Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="nav-link-active">Contact</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="http://www.rca.ac.uk" target="_blank">Royal College of Art</a>
        </li> -->
      </ul>
    </div>
  </div>
</div>