<div class="component comp-bg-mid-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 text-align-center">
        <h2 class="component-title">The most important first</h2>
        <h1>This is a student project</h1>
        <p class="intro-text">
          Penzai is not real. It is the final project of Florian Tiefenbach, for his Master Study in Service Design at the Royal College
          of Art in London. The purpose of this website is to present the idea and the branding to possible users of such
          a service. Please, feel free to sign up and play around with the prototype of PENZAI. Read on to find out which
          data is used for the prototype.</p>
        <p class="intro-text">Florian is happy about any kind of feedback or critique.
          <br />Please do get in touch.
        </p>
        <div class="btn-group-individual justify-content-center">
          <button class="btn btn-primary" routerLink="/contact">Get in Touch</button>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="component">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6">
        <h2 class="component-title">Privacy</h2>
        <h3>What kind of personal data do you collect?</h3>
        <p class="">PENZAI collects contact details of users including Firstname, Lastname and the Email Address.</p>
        <h3>Why does PENZAI collect this data and what is it doing with it?</h3>
        <p class="">PENZAI will never share any information with any other parties. This website and the member area is part of a student
          project. PENZAI uses the collected data for validating the proposition, by users signing up.</p>
        <h3>What about all the other data I am entering?</h3>
        <p class="">PENZAI is just a prototype and done for validating an idea. All data, except your contact details, is temporary.
          The data is wiped as soon as you refresh your browser window or you leave the page. (F5) This does not include
          the contact details you entered when signing up to PENZAI.</p>
        <h3>How do I delete my account/data</h3>
        <p class="">Please login to your account. Under your profile, you can find a button 'delete account'</p>
      </div>
    </div>
  </div>
</div>