<div class="site-hero">
  <div class="site-hero-content container">
    <div class="row">
      <h1 class="col-12">What do you really want to do?</h1>
    </div>
    <div class="row">
      <p class="col-md-6 intro-text">Understand where you are professionally. Define where you want to be. PENZAI serves you the best opportunities and
        support to help you to grow into your dream role.</p>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="btn-group-individual">
          <div class="btn btn-primary" (click)="openSignUp()">
            Join the free public beta
          </div>
          <div class="btn btn-secondary" routerLink="/business">
            I represent an organisation
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="component comp-bg-mid-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-align-center">
        <h2 class="component-title">What is PENZAI?</h2>
        <h1>Penzai is all about you and your personal learning goals</h1>
        <p class="intro-text intro-text-margin">Instead of looking at your CV and your past experience, PENZAI helps you to find new challenges by asking: &quot;Where
          do you want to go?&quot; </p>
      </div>
    </div>
    <div class="row section-seed">
      <section class="col-md-4 text-align-center section-border-right">
        <img class="section-img section-img-above-title" src="./assets/images/plant-seed.png" />
        <h4 class="section-title">1. Plant the seed</h4>
        <p class="text-small">Take our AI supported self-assessment to understand where you are today</p>
      </section>
      <section class="col-md-4 text-align-center section-border-right">
        <img class="section-img section-img-above-title" src="./assets/images/plant-inspire.png" />
        <h4 class="section-title">2. Find inspiration</h4>
        <p class="text-small">Based on millions of data points, we recommend you environments perfect for you to thrive.</p>
      </section>
      <section class="col-md-4 text-align-center">
        <img class="section-img section-img-above-title" src="./assets/images/plant-grow.png" />
        <h4 class="section-title">3. Start Growing</h4>
        <p class="text-small">Define your learning goals and start developing new skills. Track your progress and get support from the PENZAI community.</p>
      </section>
    </div>
    <div class="row justify-content-center">
      <div class="btn-group-individual">
        <div class="btn btn-primary" routerLink="/how-it-works">See how it works in detail</div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="component comp-bg-mid bg-help">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-5">
        <h2 class="component-title">Hands On Experience</h2>
        <h3>Experience how the real job feels</h3>
        <p>Our industry partners regularly invite you to participate in challenging sandbox projects based on your growth path.
          This gives you the opportunity to get hands-on experience and for you to understand what the real job would be
          like.
        </p>
        <p>While you are working on a sandbox project brief, you will get additional support from industry experts.</p>
        <div class="btn-group-individual">
          <div class="btn btn-primary" routerLink="/how-it-works">See all features</div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="component comp-bg-mid-light">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-md-5">
        <h2 class="component-title">The PENZAI Community</h2>
        <h3>Get the right answers to help you move on when you are stuck with questions</h3>
        <p>The PENZAI community offers a great place to share knowledge between our members. You can ask questions or be part
          of discussions, for instance about disruptive technologies or the latest social media trends. Just join and subscribe
          to the groups you would like to engage with.</p>
        <div class="btn-group-individual">
          <div class="btn btn-primary" routerLink="/how-it-works">See all features</div>
        </div>
      </div>
      <div class="offset-md-1 col-md-6 img-container">
        <img class="tab-img shadow" src="./assets/images/screenshots/community.jpg" />
      </div>
    </div>
  </div>
</div>
<hr>
<app-try-it></app-try-it>