<div class="component comp-bg-light">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h3>Test the PENZAI beta today. It is free.</h3>
        <p>Already a member?
          <a href="javascript:void()" (click)="openSignIn()">Sign In</a>
        </p>
        <div class="btn-group-individual">
          <div class="btn btn-primary" (click)="openRegistration()">Join the free public beta</div>
        </div>
      </div>
      <div class="col-6">
        <h3>Do you have questions or Feedback regarding our service?</h3>
        <p>Please do not hesitate to get in touch!</p>
        <div class="btn-group-individual">
          <div class="btn btn-primary" routerLink="/contact">Get in touch</div>
        </div>
      </div>
    </div>
  </div>
</div>